@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@layer components {
  .glass {
    @apply bg-white/5 rounded-4xl  backdrop-blur-sm ;
  }
}

@theme {
  --font-indie: 'Indie Flower', cursive;
}
:root {
  --sans: system-ui, 'Inter',  sans-serif;
  --heading: system-ui, 'Inter',  sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: white;
  background:#1B2316;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

